.todo-list-header {
  text-align: center;
}

.label {
  cursor: pointer;
  user-select: none;
  line-height: 2em;
  width: 100%;
}

.label.completed {
  text-decoration-style: solid;
  text-decoration: line-through;
  color: #00b0b9;
}

.delete {
  font-family: monospace;
  font-size: 2em;
  border: 1px solid #00b0b9;
  color: #00b0b9;
  background-color: transparent;
  cursor: pointer;
  border-radius: 1em;
}

.delete:hover,
.delete:active {
  color: #0053b9;
  border-color: #0053b9;
}

.delete:active {
  font-size: 1.5em;
}

.todos {
  max-width: 100%;
  border: solid 1px #ccc;
  min-height: 60px;
  display: block;
  background: white;
  border-radius: 4px;
  overflow: hidden;
  padding-left: 0;
}

.todo {
  list-style: none;
  padding: 20px 10px;
  border-bottom: solid 1px #ccc;
  color: rgba(0, 0, 0, 0.87);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
  cursor: move;
  background: white;
  font-size: 14px;
}

.cdk-drag-preview {
  box-sizing: border-box;
  border-radius: 4px;
  box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
    0 8px 10px 1px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12);
}

.cdk-drag-placeholder {
  opacity: 0.2;
}

.cdk-drag-animating {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.example-box:last-child {
  border: none;
}

.todos.cdk-drop-list-dragging .example-box:not(.cdk-drag-placeholder) {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}
