:host {
  display: grid;
  width: 100%;
  height: 100%;
  grid-template-columns: auto 50vw auto;
  grid-template-rows: 5rem 2fr 2fr;
  grid-template-areas:
    'top top top'
    'left list right'
    'left list right';
}

@media (max-width: 600px) {
  :host {
    grid-template-columns: auto 98vw auto;
  }
}

.header {
  padding: 0 1.5rem;
  background-color: #00b0b9;
  color: white;
  grid-area: top;
  position: fixed;
  width: 100%;
}

.main {
  grid-area: list;
  display: flex;
  flex: 1 1 auto;
  flex-flow: column nowrap;
}
